{% extends 'templates/app.twig' %}

{% block content %}

    <div class="api-endpoints">

        <div class="user-endpoints">
            <h4>Users</h4>
            <p><a href="/api/users" target="_blank">GET /api/users</a></p>
            <p><a href="#">GET /api/users/{id}</a></p>
            <p><a href="#">POST /api/users</a></p>
            <p><a href="#">PUT /api/users/{id}</a></p>
            <p><a href="#">DELETE /api/users/{id}</a></p>
        </div>

        <div class="ads-endpoints">
            <h4>Ads</h4>
            <p><a href="/api/ads" target="_blank">GET /api/ads</a></p>
            <p><a href="#">GET /api/ads/{id}</a></p>
            <p><a href="#">POST /api/users/{user_id}/ads</a></p>
            <p><a href="#">PUT /api/users/{user_id}/ads/{id}</a></p>
            <p><a href="#">DELETE /api/ads/{id}</a></p>
        </div>

        <div class="categories-endpoints">
            <h4>Categories</h4>
            <p><a href="/api/categories" target="_blank">GET /api/categories</a></p>
            <p><a href="#">GET /api/categories/{id}</a></p>
        </div>

    </div>

{% endblock %}